
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.wrapper-market {
  background-image: url('../images/sky-earth-galaxy-universe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  //filter: blur(5px);
}

.footer {
  margin-top: 100px;
}

.quote {
  color: white;
}

.thumbnail {
  display: flex;
  flex-wrap: wrap;
  height: 460px;
  //flex-wrap: wrap;
  img{
    max-height: 300px;
    overflow: hidden;
  }

}
// .sizer img {
//   max-height: 100px;
//   max-width: 100px;
//   overflow: hidden;
//   image-resolution: snap;
// }
// .media-object {
//   height: 100px;
//   width: 100px;
// }
