$grid-gutter-width: 0px;
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

//credit for some map markers: https://mapicons.mapsmarker.com

//********************************
//Color Palette
//********************************
$greener: #78CD00;
$bluer: #2D7DD2;
$yellower: #EEB902;
$oranger: #FFA538;
$grayer: #474647;
$greenbluer: #5FE8CF;
$redder: #FF0000;
$lightgreener: #97E873;
$purpler: #8B0DFF;


*,
*::before,
*::after {
  box-sizing: border-box;
}


img {
  max-width: 100%;
}

//********************************
//Navbar Styling
//********************************

#navvy-bar {
  background-color: $grayer;
  box-shadow: 1px 1px 1px $grayer;
}

#navbar-brand {
  color: $lightgreener;
}

#map {
    height: 100%;
    border-top: 3px solid $grayer;
    border-bottom: 3px solid $grayer;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background: lightgrey;
  }


//********************************
//Market/Splash Screen Styling
//********************************
.market-nav {
  background-color: black;
}

.titler {
  font-size: 48px;
  text-align: center;
  color: $greener;
  #app-title {
    color: $lightgreener;
  }
}
.wrapper-market {
  background-image: url('../images/AdobeStock_14513047.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  //filter: blur(5px);
}

.footer {
  margin-top: 100px;
}

.block-footer {
  color: #005b80;
}

.quote {
  color: black;

}

.marketing-jumbo {
  background-color: rgba(255, 255, 255, 0.73);
}

#eO {
  background-color: rgba(255, 255, 255, 0.73);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#nav-foot-title {
  background-color: rgba(45, 125, 210, 0.67);
  color: white;
  padding: 8px;
}

#observe-header {
  color: $purpler;
}
//********************************
//Main screen dashboard
//********************************

.navbar-nav > .active > a:focus {
  background-color: $oranger;
}

.obs-list-dash {
  height: 400px;
  overflow: scroll;
  border: 3px solid $grayer;
}
.obs-users-dash {
  @extend .obs-list-dash;
}

.gal-button {
  font-size: 12px;
}

.navbar-bottom {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: $grayer;
  box-shadow: 0px -2px 2px black;
  .top-link {
    align-self: flex-end;

  }
}

.foot-title {
  background-color: $grayer;
  //display: inline-block;
  color: $oranger;
}
.navbar-fixed-bottom {
  background-color: $grayer;

}

//********************************
//(Listing) Gallery Style
//********************************
.thumbnail {
  display: flex;
  flex-wrap: wrap;
  height: 460px;
  flex-wrap: wrap;
  img{
    max-height: 300px;
    overflow: hidden;
  }

}

//********************************
//Real Gallery Style
//********************************
.masonry-img {
  max-width: 200px;
}

.base-wrapper {
  background-color: lightgrey;
}
