
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

#map {
    height: 100%;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

img {
  max-width: 100%;
}

.wrapper-market {
  background-image: url('../images/AdobeStock_14513047.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  //filter: blur(5px);
}

.footer {
  margin-top: 100px;
}

.block-footer {
  color: #005b80;
}

.quote {
  color: black;

}

.marketing-jumbo {
  background-color: rgba(255, 255, 255, 0.73);
}

#eO {
  background-color: rgba(255, 255, 255, 0.73);
}
.thumbnail {
  display: flex;
  flex-wrap: wrap;
  height: 460px;
  flex-wrap: wrap;
  img{
    max-height: 300px;
    overflow: hidden;
  }

}

.masonry-img {
  max-width: 200px;
}

.obs-list-dash {
  height: 600px;
  overflow: scroll;
  border: 3px solid grey;
}

.obs-users-dash {
  @extend .obs-list-dash;
}

.gal-button {
  font-size: 12px;
}
